{% extends 'Twitter/HeaderSiderFooter.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <div style="height: 10%; width: 83%; padding: 15px; position: absolute;">
        <div id="answer"
             style="border-radius:30px; background-color: black; z-index: 1; opacity:0.7; position: fixed; width: 81%; height: 80%;"></div>
        <div style="width:83%; height: 100px;">
            <label style="position: fixed; color: white; z-index: 1; font-size: 70px; margin-left: 280px; margin-top: 50px;">Predicted Label:</label>
        </div>
        <br>
        <div>
            <label style="position: fixed; color: white; z-index: 1; font-size: 70px; margin-left: 280px; margin-top: 50px;">{{ predictedLabel }}</label>
        </div>
    </div>
    <section class="content">

        <!-- Naive Bayes Classifier -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Naive Bayes Classifier</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form action="{% url 'predictNB' %}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Predict" style="width:100px;"
                                       class="btn btn-block btn-primary"/>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">*Training Data will be saved on server.</div>
        </div>
        <!-- /.box -->
        <!-- SVM Classifier -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">SVM Classifier</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form action="{% url 'predictSVM' %}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Predict" style="width:100px;"
                                       class="btn btn-block btn-primary"/>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">*Training Data will be saved on server.</div>
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.active').removeClass('active');
            $('#testing').addClass('active');
        });
    </script>
    <script>
    if({{ predictedLabel }}){
        $(function () {
            $('#answer').remove();
        })
    }
    </script>
{% endblock %}